.table {
    /* width: 100%; */
    overflow-x: auto;
    overflow-y: auto;
    height : 400px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* .table tr:nth-of-type(even) {
    background-color: gainsboro;
} */

.table__rows {
   width: 100%;
}
.table__rows:hover {
    color : white;
    background-color: green;
}

@media screen and (max-width:992px) {
  .table {
      width: 100%;
  }
}