.table {
    /* width: 100%; */
    overflow-x: auto;
    overflow-y: auto;
    height : 400px;
    margin-bottom: 10px;

}

.table tr:nth-of-type(even) {
    background-color: gainsboro;
}

.table__rows {
   width: 100%;
}

@media screen and (max-width:992px) {
   
}